<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="en-us">
        <base href="{global.baseUrl}"/>

        <title>{head.title} | {global.appName}</title>
        <meta name="description" content="{head.description}">

        <link type="image/x-icon" rel="image" href="favicon.ico">
        <script type="text/javascript" charset="utf-8" src="public/app.js">
        
        </script>
        <link rel="stylesheet" type="text/css" href="public/app.css"/>


    </head>
    <body class="{body.class}">
        <!--Page wrapper-->
        <div class="wrapper">

            <!--Header-->
            <div class="header">
                <a class="logo" href="/"></a>
                <!--Navigation-->
                <ul class="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a class="loggedOut" href="/">Sign Up</a>
                    </li>
                    <li>
                        <a class="loggedOut" href="/">Login</a>
                    </li>
                    <li>
                        <a class="loggedIn" href="/">Dashboard</a>
                    </li>
                    <li>
                        <a class="loggedIn" href="/">Account Settings</a>
                    </li>
                    <li>
                        <a class="loggedIn" href="/">Logout</a>
                    </li>
                </ul>
            </div>

            <!--Main Page Content-->
            <div class="content">